html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

::selection {
  background-color: #aaa8f9;
}

input, select, textarea {
    font-size: 20px;
}

.container {
  margin: 50px auto;
  padding: 5px;
  max-width: 650px;
}

@media only screen and (max-device-width: 480px) {
  .container {
    margin: 5px;
    padding: 5px;
    max-width: none;
  }
}

h1 {
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #505050;
  font-weight: 300;
  margin: 0 0 0.5em 0;
}

a {
  color: #505050;
}
a:hover {
  font-weight: bold;
}

.button {
  font-size: 20px;
}

@media (max-width: 600px) {
  .links {
    text-align: center;
  }
}

.about {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.about br {
  display: block;
  content: "";
  height: 15px;
}